body {
   font-family: "Inter", sans-serif;
   color: #211b12;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 870px;
   width: 100%;
   margin: auto;
}

.navbar {
   max-width: 860px;
   width: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-list {
   display: flex;
   align-items: center;
   list-style: none;
   padding: 0;
}

.nav-link {
   text-decoration: none;
   color: #bf7506;
   margin-left: 24px;
   font-size: 16px;
   line-height: 150%;
}

.nav-link.active {
   font-weight: 700;
}

.header {
   padding: 75px 0 80px;
   display: flex;
   align-items: center;
}

.header-photo {
   width: 212px;
}

.header-text {
   margin-left: 27px;
}

.header-strong {
   font-weight: 700;
   font-size: 48px;
   line-height: 125%;
   letter-spacing: -0.03em;
}

.header-heading {
   font-weight: 700;
   font-size: 24px;
   line-height: 135%;
   letter-spacing: -0.02em;
   max-width: 510px;
   margin: 8px 0 24px;
}

.header-primary {
   color: #bf7506;
}

.header-links {
   display: flex;
   align-items: center;
}

.social-list {
   display: flex;
   align-items: center;
   padding: 0;
   list-style: none;
}

.social-link {
   display: inline-block;
   padding: 8px;
}

.cv-download {
   display: flex;
   align-items: center;
   padding: 7px 8px;
   margin-left: 55px;
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   border-bottom: 2px solid #bf7506;
   color: inherit;
}

.cv-icon {
   margin-right: 7px;
}

.section-heading {
   font-weight: 700;
   font-size: 48px;
   line-height: 125%;
   letter-spacing: -0.03em;
   color: #bf7506;
}

.cards {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.card {
   max-width: 400px;
   margin-bottom: 40px;
}

.card-text-wrapper {
   padding: 17px;
}

.card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 135%;
   letter-spacing: -0.02em;
   color: #bf7506;
   margin: 5px 0 8px;
}

.tags {
   display: flex;
   align-items: center;
   list-style: none;
   padding: 0;
}

.tags-item {
   margin-right: 5px;
}

.tag {
   padding: 4px 8px;
   border: 1px solid #dd9c3c;
   border-radius: 4px;
   background: #fff;
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   text-decoration: none;
   color: inherit;
}

.card-text {
   font-weight: 400;
   font-size: 17px;
   line-height: 150%;
   margin-top: 16px;
}

.card-buttons {
   margin-top: 17px;
   display: flex;
   align-items: center;
}

.card-button {
   display: flex;
   align-items: center;
   margin-right: 25px;
   padding: 7px 8px;
   text-decoration: none;
   color: inherit;
   font-weight: 700;
   border-bottom: 2px solid #bf7506;
}

.card-button-icon {
   margin-right: 5px;
}

.developer {
   padding: 80px 0 40px;
   display: flex;
   align-items: center;
}

.developer-photo {
   width: 360px;
   height: 440px;
   flex-shrink: 0;
   border-radius: 20px;
   -o-object-fit: cover;
      object-fit: cover;
   
}

.developer-about {
   margin-left: 55px;
}

.developer-hello {
   font-size: 24px;
   line-height: 135%;
   margin-bottom: 4px;
}

.developer-title {
   font-weight: 700;
   font-size: 32px;
   line-height: 125%;
   color: #bf7506;
   margin: 4px 0 16px;
}

.developer-text {
   font-size: 17px;
   line-height: 150%;
   max-width: 454px;
}

.developer-motto {
   font-size: 24px;
   line-height: 150%;
   color: #dd9c3c;
   margin: 16px 0;
}

.developer-sign {
   max-width: 200px;
}

.skills {
   padding: 20px 0;
}

.skills-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 135%;
   margin-bottom: 14px;
}

.feedback {
   padding: 100px 0 160px;
   position: relative;
}

.feedback-hand {
   position: absolute;
   top: 20%;
   right: 0;
   width: 30%;
}

.form {
   max-width: 435px;
   margin: 0 auto;
}

.input-group {
   position: relative;
   padding-top: 9px;
   margin-bottom: 24px;
}

.input-label {
   position: absolute;
   top: 0;
   left: 16px;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #83807c;
   padding: 0 8px;
   background: #fff;
}

.input {
   border: 3px solid #e0dedc;
   border-radius: 4px;
   width: 435px;
   height: 56px;
}

.input-message {
   resize: none;
   min-height: 140px;
}

.send {
   display: flex;
   align-items: center;
   padding: 7px 8px;
   margin-left: auto;
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   border: none;
   border-bottom: 2px solid #bf7506;
   color: inherit;
   cursor: pointer;
   background: #fff;
}

.send-icon {
   margin-right: 7px;
}