body {
   font-family: "Inter", sans-serif;
   color: #211b12;
}

.container {
   max-width: 870px;
   width: 100%;
   margin: auto;
}

.navbar {
   max-width: 860px;
   width: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-list {
   display: flex;
   align-items: center;
   list-style: none;
   padding: 0;
}

.nav-link {
   text-decoration: none;
   color: #bf7506;
   margin-left: 24px;
   font-size: 16px;
   line-height: 150%;
}

.nav-link.active {
   font-weight: 700;
}

.header {
   padding: 75px 0 80px;
   display: flex;
   align-items: center;
}

.header-photo {
   width: 212px;
}

.header-text {
   margin-left: 27px;
}

.header-strong {
   font-weight: 700;
   font-size: 48px;
   line-height: 125%;
   letter-spacing: -0.03em;
}

.header-heading {
   font-weight: 700;
   font-size: 24px;
   line-height: 135%;
   letter-spacing: -0.02em;
   max-width: 510px;
   margin: 8px 0 24px;
}

.header-primary {
   color: #bf7506;
}

.header-links {
   display: flex;
   align-items: center;
}

.social-list {
   display: flex;
   align-items: center;
   padding: 0;
   list-style: none;
}

.social-link {
   display: inline-block;
   padding: 8px;
}

.cv-download {
   display: flex;
   align-items: center;
   padding: 7px 8px;
   margin-left: 55px;
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   border-bottom: 2px solid #bf7506;
   color: inherit;
}

.cv-icon {
   margin-right: 7px;
}